<div class="loaded ng-hide" ng-show="soreders.length==0">
    您还没有相关订单
</div>
<div class="soreder-item"
     ng-repeat="soreder in soreders"
     soreder-id="{{soreder.id}}"
>
    <div class="soreder-list-item"
         ui-sref="service-order-nopay"
         ng-click="serviceOrderEdit(soreder.id,$index)"
    >
        <div class="soreder-basic">
            <img ng-src="images/{{orderPic(soreder.server_type)}}"  onerror= "javascript:this.src='images/imgerror.png' " alt="" class="">
            <div class="soreder-list-cont ">
                <div class="font-16 cont-ge strong-dark">{{soreder.name}}<span class="pull-right light-dark">{{soreder.status}}</span></div>
            </div>
        </div>
        <div class="soreder-bsinfo padding-top">
            <div class="business-name strong-dark cont-ge">商家名称：{{soreder.sellername}}</div>
            <div class=" strong-dark cont-ge">订单时间：{{soreder.create_time}}</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>